.kzchatbot {
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
    .fixed {
        position: fixed;
    }
    .absolute {
        position: absolute;
    }
    .relative {
        position: relative;
    }
    .bottom-0 {
        bottom: 0;
    }
    .left-2 {
        left: 0.5rem;
    }
    .left-3 {
        left: 0.75rem;
    }
    .right-0 {
        right: 0;
    }
    .top-1\/2 {
        top: 50%;
    }
    .z-50 {
        z-index: 50;
    }
    .float-end {
        float: inline-end;
    }
    .m-0 {
        margin: 0;
    }
    .-mx-1 {
        margin-left: -0.25rem;
        margin-right: -0.25rem;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .my-0 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .my-3 {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    .mb-1 {
        margin-bottom: 0.25rem;
    }
    .mb-2 {
        margin-bottom: 0.5rem;
    }
    .mb-6 {
        margin-bottom: 1.5rem;
    }
    .mb-\[3px\] {
        margin-bottom: 3px;
    }
    .mb-\[6px\] {
        margin-bottom: 6px;
    }
    .ml-1 {
        margin-left: 0.25rem;
    }
    .ml-\[3\.8rem\] {
        margin-left: 3.8rem;
    }
    .mr-6 {
        margin-right: 1.5rem;
    }
    .mr-\[2px\] {
        margin-right: 2px;
    }
    .mt-1 {
        margin-top: 0.25rem;
    }
    .mt-2 {
        margin-top: 0.5rem;
    }
    .mt-3 {
        margin-top: 0.75rem;
    }
    .block {
        display: block;
    }
    .inline-block {
        display: inline-block;
    }
    .flex {
        display: flex;
    }
    .hidden {
        display: none;
    }
    .h-12 {
        height: 3rem;
    }
    .h-16 {
        height: 4rem;
    }
    .h-\[1px\] {
        height: 1px;
    }
    .h-\[23px\] {
        height: 23px;
    }
    .h-\[29px\] {
        height: 29px;
    }
    .h-\[40px\] {
        height: 40px;
    }
    .h-\[515px\] {
        height: 515px;
    }
    .w-16 {
        width: 4rem;
    }
    .w-\[327px\] {
        width: 327px;
    }
    .w-\[calc\(100\%_\+_1\.5rem\)\] {
        width: calc(100% + 1.5rem);
    }
    .w-full {
        width: 100%;
    }
    .flex-1 {
        flex: 1 1 0%;
    }
    .-translate-y-1\/2 {
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .rotate-180 {
        --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .transform {
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .cursor-pointer {
        cursor: pointer;
    }
    .resize {
        resize: both;
    }
    .list-inside {
        list-style-position: inside;
    }
    .list-image-\[url\(assets\/arrow-left\.svg\)\] {
        list-style-image: url("data:image/svg+xml,%3csvg%20width='6'%20height='10'%20viewBox='0%200%206%2010'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cg%20clip-path='url(%23clip0_6_218)'%3e%3cpath%20d='M-9.87053e-05%204.99998C-9.87053e-05%204.82076%200.0683317%204.64156%200.204905%204.50493L4.50473%200.205142C4.77826%20-0.0683806%205.22172%20-0.0683806%205.49514%200.205142C5.76855%200.478554%205.76855%200.921935%205.49514%201.19548L1.69041%204.99998L5.495%208.80451C5.76842%209.07803%205.76842%209.52137%205.495%209.79476C5.22159%2010.0684%204.77812%2010.0684%204.5046%209.79476L0.204772%205.49504C0.0681767%205.35834%20-9.87053e-05%205.17914%20-9.87053e-05%204.99998Z'%20fill='%23005AAB'/%3e%3c/g%3e%3cdefs%3e%3cclipPath%20id='clip0_6_218'%3e%3crect%20width='6'%20height='10'%20fill='white'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
    }
    .text-center {
        text-align: center;
    }
    .flex-col {
        flex-direction: column;
    }
    .items-center {
        align-items: center;
    }
    .justify-end {
        justify-content: flex-end;
    }
    .justify-between {
        justify-content: space-between;
    }
    .overflow-auto {
        overflow: auto;
    }
    .overflow-hidden {
        overflow: hidden;
    }
    .rounded-\[10px_10px_0_10px\] {
        border-radius: 10px 10px 0;
    }
    .rounded-\[10px_10px_10px_0\] {
        border-radius: 10px 10px 10px 0;
    }
    .rounded-full {
        border-radius: 9999px;
    }
    .border {
        border-width: 1px;
    }
    .border-b {
        border-bottom-width: 1px;
    }
    .border-r-4 {
        border-right-width: 4px;
    }
    .border-none {
        border-style: none;
    }
    .border-line {
        border-color: var(--kzcb-breaking-line);
    }
    .border-message-user-background {
        border-color: var(--kzcb-message-user-background);
    }
    .border-textArea-border {
        border-color: var(--kzcb-textarea-border);
    }
    .bg-button {
        background-color: var(--kzcb-button-background);
    }
    .bg-cta {
        background-color: var(--kzcb-cta-background);
    }
    .bg-input {
        background-color: var(--kzcb-input-background);
    }
    .bg-message-bot-background {
        background-color: var(--kzcb-message-bot-background);
    }
    .bg-message-user-background {
        background-color: var(--kzcb-message-user-background);
    }
    .bg-popover {
        background-color: var(--kzcb-popover);
    }
    .bg-transparent {
        background-color: transparent;
    }
    .p-0 {
        padding: 0;
    }
    .p-2 {
        padding: 0.5rem;
    }
    .p-3 {
        padding: 0.75rem;
    }
    .px-1 {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }
    .px-2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .px-3 {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
    }
    .px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .px-\[10px\] {
        padding-left: 10px;
        padding-right: 10px;
    }
    .px-\[6px\] {
        padding-left: 6px;
        padding-right: 6px;
    }
    .py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .py-5 {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
    .pb-2 {
        padding-bottom: 0.5rem;
    }
    .pb-4 {
        padding-bottom: 1rem;
    }
    .pl-10 {
        padding-left: 2.5rem;
    }
    .pr-\[5px\] {
        padding-right: 5px;
    }
    .pt-1 {
        padding-top: 0.25rem;
    }
    .text-sm {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .text-xs {
        font-size: 0.75rem;
        line-height: 1rem;
    }
    .font-bold {
        font-weight: 700;
    }
    .leading-4 {
        line-height: 1rem;
    }
    .leading-\[1\.5\],
    .leading-normal {
        line-height: 1.5;
    }
    .text-button-foreground {
        color: var(--kzcb-button-foreground);
    }
    .text-cta-foreground {
        color: var(--kzcb-cta-foreground);
    }
    .text-disclaimer {
        color: var(--kzcb-disclaimer-foreground);
    }
    .text-input {
        color: var(--kzcb-input-background);
    }
    .text-input-placholder {
        color: var(--kzcb-input-placeholder);
    }
    .text-links-foreground {
        color: var(--kzcb-links-foreground);
    }
    .text-message-bot-foreground {
        color: var(--kzcb-message-bot-foreground);
    }
    .text-message-user-background {
        color: var(--kzcb-message-user-background);
    }
    .text-message-user-foreground {
        color: var(--kzcb-message-user-foreground);
    }
    .text-destructive {
        color: var(--kzcb-destructive-foreground);
    }
    .bg-destructive {
        background-color: var(--kzcb-destructive-background);
    }
    .text-popover-foreground {
        color: var(--kzcb-popover-foreground);
    }
    .shadow-\[0_4px_4px_0_rgba\(0\,0\,0\,0\.10\)\] {
        --tw-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
        --tw-shadow-colored: 0 4px 4px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .shadow-md {
        --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
            0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .shadow-2xl {
        --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
            var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
    .outline-none {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
    .ring-offset-background {
        --tw-ring-offset-color: var(--kzcb-background);
    }
    @keyframes enter {
        0% {
            opacity: var(--tw-enter-opacity, 1);
            transform: translate3d(
                    var(--tw-enter-translate-x, 0),
                    var(--tw-enter-translate-y, 0),
                    0
                )
                scale3d(
                    var(--tw-enter-scale, 1),
                    var(--tw-enter-scale, 1),
                    var(--tw-enter-scale, 1)
                )
                rotate(var(--tw-enter-rotate, 0));
        }
    }
    @keyframes exit {
        to {
            opacity: var(--tw-exit-opacity, 1);
            transform: translate3d(
                    var(--tw-exit-translate-x, 0),
                    var(--tw-exit-translate-y, 0),
                    0
                )
                scale3d(
                    var(--tw-exit-scale, 1),
                    var(--tw-exit-scale, 1),
                    var(--tw-exit-scale, 1)
                )
                rotate(var(--tw-exit-rotate, 0));
        }
    }
    .file\:border-0::file-selector-button {
        border-width: 0px;
    }
    .file\:bg-transparent::file-selector-button {
        background-color: transparent;
    }
    .file\:text-sm::file-selector-button {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .file\:font-medium::file-selector-button {
        font-weight: 500;
    }
    .placeholder\:text-sm::-moz-placeholder {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .placeholder\:text-sm::placeholder {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
    .placeholder\:text-input-placholder::-moz-placeholder {
        color: var(--kzcb-input-placeholder);
    }
    .placeholder\:text-input-placholder::placeholder {
        color: var(--kzcb-input-placeholder);
    }
    .placeholder\:text-textArea-placholder::-moz-placeholder {
        color: var(--kzcb-textarea-placeholder);
    }
    .placeholder\:text-textArea-placholder::placeholder {
        color: var(--kzcb-textarea-placeholder);
    }
    .before\:pointer-events-none:before {
        content: var(--tw-content);
        pointer-events: none;
    }
    .before\:absolute:before {
        content: var(--tw-content);
        position: absolute;
    }
    .before\:right-0:before {
        content: var(--tw-content);
        right: 0;
    }
    .before\:top-1\/2:before {
        content: var(--tw-content);
        top: 50%;
    }
    .before\:h-\[1px\]:before {
        content: var(--tw-content);
        height: 1px;
    }
    .before\:w-\[200px\]:before {
        content: var(--tw-content);
        width: 200px;
    }
    .before\:-translate-y-1\/2:before {
        content: var(--tw-content);
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .before\:translate-x-full:before {
        content: var(--tw-content);
        --tw-translate-x: 100%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .before\:bg-line:before {
        content: var(--tw-content);
        background-color: var(--kzcb-breaking-line);
    }
    .after\:pointer-events-none:after {
        content: var(--tw-content);
        pointer-events: none;
    }
    .after\:absolute:after {
        content: var(--tw-content);
        position: absolute;
    }
    .after\:left-0:after {
        content: var(--tw-content);
        left: 0;
    }
    .after\:top-1\/2:after {
        content: var(--tw-content);
        top: 50%;
    }
    .after\:h-\[1px\]:after {
        content: var(--tw-content);
        height: 1px;
    }
    .after\:w-\[200px\]:after {
        content: var(--tw-content);
        width: 200px;
    }
    .after\:-translate-x-full:after {
        content: var(--tw-content);
        --tw-translate-x: -100%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .after\:-translate-y-1\/2:after {
        content: var(--tw-content);
        --tw-translate-y: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y))
            rotate(var(--tw-rotate)) skew(var(--tw-skew-x))
            skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
            scaleY(var(--tw-scale-y));
    }
    .after\:bg-line:after {
        content: var(--tw-content);
        background-color: var(--kzcb-breaking-line);
    }
    .focus-visible\:outline-none:focus-visible {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
    .focus-visible\:ring-2:focus-visible {
        --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
            var(--tw-ring-offset-width) var(--tw-ring-offset-color);
        --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
            calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
        box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
            var(--tw-shadow, 0 0 #0000);
    }
    .focus-visible\:ring-ring:focus-visible {
        --tw-ring-color: var(--ring);
    }
    .focus-visible\:ring-offset-2:focus-visible {
        --tw-ring-offset-width: 2px;
    }
    .disabled\:cursor-not-allowed:disabled {
        cursor: not-allowed;
    }
    .disabled\:opacity-45:disabled {
        opacity: 0.45;
    }
    .disabled\:opacity-50:disabled {
        opacity: 0.5;
    }
    .peer:checked ~ .peer-checked\:bg-input {
        background-color: var(--kzcb-input-background);
    }
    .peer:checked ~ .peer-checked\:text-input-placholder {
        color: var(--kzcb-input-placeholder);
    }
    .peer:focus-visible ~ .peer-focus-visible\:outline {
        outline-style: solid;
    }
    .peer:focus-visible ~ .peer-focus-visible\:outline-1 {
        outline-width: 1px;
    }
    .data-\[state\=open\]\:animate-in[data-state="open"] {
        animation-name: enter;
        animation-duration: 0.15s;
        --tw-enter-opacity: initial;
        --tw-enter-scale: initial;
        --tw-enter-rotate: initial;
        --tw-enter-translate-x: initial;
        --tw-enter-translate-y: initial;
    }
    .data-\[state\=closed\]\:animate-out[data-state="closed"] {
        animation-name: exit;
        animation-duration: 0.15s;
        --tw-exit-opacity: initial;
        --tw-exit-scale: initial;
        --tw-exit-rotate: initial;
        --tw-exit-translate-x: initial;
        --tw-exit-translate-y: initial;
    }
    .data-\[state\=closed\]\:fade-out-0[data-state="closed"] {
        --tw-exit-opacity: 0;
    }
    .data-\[state\=open\]\:fade-in-0[data-state="open"] {
        --tw-enter-opacity: 0;
    }
    .data-\[state\=closed\]\:zoom-out-95[data-state="closed"] {
        --tw-exit-scale: 0.95;
    }
    .data-\[state\=open\]\:zoom-in-95[data-state="open"] {
        --tw-enter-scale: 0.95;
    }
    .data-\[side\=bottom\]\:slide-in-from-top-2[data-side="bottom"] {
        --tw-enter-translate-y: -0.5rem;
    }
    .data-\[side\=left\]\:slide-in-from-right-2[data-side="left"] {
        --tw-enter-translate-x: 0.5rem;
    }
    .data-\[side\=right\]\:slide-in-from-left-2[data-side="right"] {
        --tw-enter-translate-x: -0.5rem;
    }
    .data-\[side\=top\]\:slide-in-from-bottom-2[data-side="top"] {
        --tw-enter-translate-y: 0.5rem;
    }
    .markdown {
        > * {
            overflow-wrap: break-word;
            max-width: 100%;
        }

        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }

        ul {
            list-style-type: disc;
            list-style-position: inside;
        }

        li > p {
            display: inline-block;
        }

        a {
            color: var(--kzcb-input-placeholder);
        }

        p,
        li {
            margin-bottom: 0.5rem;
        }
    }
    .pointer-events-none {
        pointer-events: none;
    }
    .pointer-events-auto {
        pointer-events: auto;
    }
}
