@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "./styles/base.css";
@import "./styles/utilities.css";

:root {
    --kzcb-white: #ffffff;
    --kzcb-input-background: #ffffff;
    --kzcb-input-placeholder: #005aab;
    --kzcb-textarea-placeholder: #ffffff;
    --kzcb-textarea-border: #ffffff;
    --kzcb-cta-background: #005aab;
    --kzcb-cta-foreground: #ffffff;
    --kzcb-popover: #2d5b85;
    --kzcb-popover-foreground: 222.2 84% 4.9%;
    --kzcb-disclaimer-foreground: #f0f7fe;
    --kzcb-links-foreground: #ffffff;
    --kzcb-message-bot-background: #ffffff;
    --kzcb-message-bot-foreground: #192832;
    --kzcb-message-user-background: #d4dde6;
    --kzcb-message-user-foreground: #192832;
    --kzcb-breaking-line: rgba(212, 221, 230, 0.2);
    --kzcb-button-background: #ffffff;
    --kzcb-button-foreground: #005aab;
    --kzcb-alert-background: #FFECEC;
    --kzcb-alert-foreground: #8D0000;

    --kzcb-background: #005aab;
    --kzcb-foreground: 222.2 84% 4.9%;
    --kzcb-card: 0 0% 100%;
    --kzcb-card-foreground: 222.2 84% 4.9%;
    --kzcb-primary: 222.2 47.4% 11.2%;
    --kzcb-primary-foreground: 210 40% 98%;
    --kzcb-secondary: 210 40% 96.1%;
    --kzcb-secondary-foreground: 222.2 47.4% 11.2%;
    --kzcb-muted: 210 40% 96.1%;
    --kzcb-muted-foreground: 215.4 16.3% 46.9%;
    --kzcb-accent: 210 40% 96.1%;
    --kzcb-accent-foreground: 222.2 47.4% 11.2%;
    --kzcb-destructive-background: #e80000;
    --kzcb-destructive-foreground: #ffffff;
    --destructive-foreground: 210 40% 98%;
    --kzcb-border: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --kzcb-radius: 0.5rem;
    --tw-translate-y: 50%;
}

#kzchatbot {
	font-family: "Open Sans", sans-serif;
	display: flex;
	position: fixed;
	bottom: 0.75rem;
	left: 0.75rem;
	z-index: 999;

	.kzcb-chat {
		display: flex;
		flex-direction: column;
		width: 300px;
		border-radius: var(--kzcb-radius);
		background-color: var(--kzcb-background);
		color: hsl(var(--kzcb-foreground));
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}

	/**
	 * CSS styles for markdown tables.
	 * @see https://github.com/micromark/micromark-extension-gfm-table#css
	 */
	.markdown {
		/* Light theme. */
		--color-canvas-default: #ffffff;
		--color-canvas-subtle: #f6f8fa;
		--color-border-default: #d0d7de;
		--color-border-muted: hsla(210, 18%, 87%, 1);

		table {
			border-spacing: 0;
			border-collapse: collapse;
			display: block;
			margin-top: 0;
			margin-bottom: 16px;
			width: max-content;
			max-width: 100%;
			overflow: auto;
		}

		tr {
			background-color: var(--color-canvas-default);
			border-top: 1px solid var(--color-border-muted);
		}

		tr:nth-child(2n) {
			background-color: var(--color-canvas-subtle);
		}

		td,
		th {
			padding: 6px 13px;
			border: 1px solid var(--color-border-default);
		}

		th {
			font-weight: 600;
		}

		table img {
			background-color: transparent;
		}
	}
}

/* Larger icon on desktop. The @media decleration should be in sync with `useMobile.tsx` */
@media (min-width: 768px) {
	#kzchatbot-trigger {
		transform: scaleX( 1.3 ) scaleY( 1.3 );
	}

	#kzchatbot {
		bottom: 1.5rem;
		left: 1.5rem;
	}
}



